
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: oraclerestores.oracle.iwhalecloud.com
spec:
  group: oracle.iwhalecloud.com
  names:
    kind: OracleRestore
    listKind: OracleRestoreList
    plural: oraclerestores
    shortNames:
    - oraclerestore
    singular: oraclerestore
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.restoreStatus
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        description: OracleRestore is the Schema for the oraclerestores API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OracleRestoreSpec defines the desired state of OracleRestore
            properties:
              backupName:
                type: string
              clusterName:
                type: string
            type: object
          status:
            description: OracleRestoreStatus defines the observed state of OracleRestore
            properties:
              restoreStatus:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
